.topRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.userpic
{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 3px;
}

.username
{
    flex: 1;
}

.timestamp
{
    flex: 1;
}

.userCard
{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.displayName
{
    font-weight: 600;
}

.adminControls
{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.adminButton
{

}

.historyView
{
    display: flex;
    flex-direction: column;
}

.historyItem
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timestamp
{
    flex: 1;
}

.action
{
    flex: 1;
}

.articleTitle
{
    flex:1
}

.gotoChange
{
    flex:1
}