.container
{
    width: 100%;
    justify-content: center;
    display: flex;
    height: 400px;
}

.absoluteContainer
{
    width: 980px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}

.loaderText
{
    margin: auto;
    text-align: center;
    font-size: 24px;
    font-style: italic;      
}

.bubble
{
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    animation-name: bubbleAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bubbleAnimation
{
    0% { opacity: 1; width: 0px; height: 0px; transform: translate(20px, 20px) }
    20% { opacity: 0; width: 40px; height: 40px; transform: translate(0px, 0px) }
}